body
{
	margin:0;
	background-color: rgb(252, 152, 255);
	color:#ffffff;
	font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	font-size:17px;
    
}
h1.logo
{
	/* font-size:44px; */
    font-size: 7vh;
	font-weight:900;
	color:#b4319e;
	text-align: center;
	text-transform: uppercase;
	margin-top:0px;
	margin-bottom:38px;
	line-height:20vh;
    background-image: "img/images.jfif";
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}	

h2
{
    color: #fff01b;
    text-align: center;
}

h3
{
    color: #fff01b;
}

h4
{
    color: #fff01b;
}

#logotyp
{
	background-image: url("img/tlo.jpg"); 
	height:20vh;
    background-repeat: no-repeat;
    background-size:cover;
    
}

nav
{
	background-color:#b4319e;
	text-align:center;
}
.menu
{
	list-style-type:none;
	margin: 0px;
	padding:10px;
	font-size:18px;
	min-height:30px;
	line-height:200%;
}

.menu > li
{
	display:inline-block;
	padding-left:20px;
	padding-right:20px;
	border-right: 1px dashed #30ff8d;
}
.menu > li:first-child
{
	border-left:1px dashed #30ff8d;
}
.menu a
{
	color:#fff01b;
	text-decoration:none;
}
.menu a:hover
{
	color:#30ff8d;
}

.menu_map
{
    list-style-type:none;
	margin: 0px;
	font-size:18px;
	line-height:200%;
    height: 5vh;
}
.menu_map > li
{
	display:inline-block;
	padding-left:20px;
	padding-right:20px;
	border-right: 1px dashed #30ff8d;
}
.menu_map > li:first-child
{
	border-left:1px dashed #30ff8d;
}
.menu_map a
{
	color:#fff01b;
	text-decoration:none;
}
.menu_map a:hover
{
	color:#30ff8d;
}


.subject
{
    display:inline-block;
    width: auto;
	height: auto;
    
}

.motyw
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    /* margin-left: 35vw;
    max-width: 30vw; */
    /* background-color: pink; */
}
img {
    max-width: 100%;
    max-height: 100%;
	height: 20vh ;
	
	
}
.subject a
{
	opacity:0.9;
}

.subject a:hover
{
	opacity:1;
}

.geop
{
    text-align: center;
    /* background-color: blueviolet; */
   
}

.przejscie
{
    background-image: url("img/geoportal2.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    border-radius: 5px;
    border-color: black;
    /* height: 10vh; */
    /* width: 10vw; */
    /* background-color: blueviolet; */

}

.przycisk
{
    height: 30vh;
    width: 30vw;
    background-image: url("img/geoportal2.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    font-size: 5vh;
    color: #fff01b;
    border-radius: 10px;
    
}

figure
{
	margin:8px;
	padding:0px;
}

#map {
    height: 95vh;
    width: auto;
   
}

header 
{
text-align: center;
}

article
{
    margin-top: 2vh;
    margin-left: 10vw;
    margin-right: 10vw;
    color: #fff01b;
}

a {
    text-decoration: none;
    color: #fff01b;
 }

 a:hover {
    text-decoration: underline;
 }

#mapka
{
border-radius: 15px;
border-color: black;
height: 30vh;
width: 30vw;
margin-left: 35vw;
margin-right: 35vw;
}